<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer>
        <p>&copy; 2024 Book Store. All rights reserved.</p>
        <!-- Whatsapp link with pre-build text -->


        <a href="https://wa.me/923107035192?text=Hello%2C%20I%20have%20a%20question%20about%20your%20book%20store." target="_blank">Contact us on WhatsApp</a>
        
    </footer>
    
</body>
</html>